<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyAH2HXvWol1P3kRwhYuvcQ4iJ0Iu-jkA</string>
	<key>GCM_SENDER_ID</key>
	<string>225692606657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>soshome-cameroun.net.blacklistMoto</string>
	<key>PROJECT_ID</key>
	<string>blacklist-moto</string>
	<key>STORAGE_BUCKET</key>
	<string>blacklist-moto.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225692606657:ios:a21ddb0c5d61ee3475f440</string>
</dict>
</plist>